// -*- mode: verilog -*-

module {{ module.name }}
(
{% for ip in inports %}
    input {{ ip.name }},
{% endfor %}
{% for op in outports %}
    output {{ op.name }},
{% endfor %}
    input {{ clock.name }},
    input {{ reset.name }}
);


endmodule : {{ module.name }}
